@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    min-height: 100%;
    min-width: 100%;
}

body {
    padding-top: 2rem;
    background: url("../resources/volcano.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    text-align: center;
}

footer {
    font-family: 'Bree Serif', serif;
    height: auto;
    position: absolute;
    color: rgba(255, 255, 255, 50%);
    padding-bottom: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
    font-size: 1rem;
    text-align: center;
}

a {
    text-decoration: none;
}

ul * {
    text-decoration: none;
}

#divider {
    margin-left: 10%;
    height: 3px;
    width: 60%;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 50%);
    clear: both;
}

.center {
    margin-top: 10%;
}

@media print {
    * {
        background: transparent !important;
        color: black !important;
        text-shadow: none !important;
        filter: none !important;
        -ms-filter: none !important;
    }

    p a,
    p a:visited {
        color: #444 !important;
        text-decoration: underline;
    }

    p a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .hide-on-print {
        display: none !important;
    }
}

#timo:hover {
    transition: 1s ease-out;
    color: white
}