header {
    margin-left: 10%;
    width: 70rem;
    display: flex;
}

#title {
    font-size: 7rem;
    font-weight: bolder;
}

nav {
    width: 50rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

nav * {
    font-family: monospace;
    height: 3rem;
    width: 9rem;
    border: 2px solid rgba(0, 0, 0, 15%);
    background-color: rgba(0, 0, 0, 10%);
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    /* vertical centering of text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.1rem;
}

nav *[class*="active"] {
    background-color: rgba(255, 0, 0, 0.15);
}

nav *:hover {
    cursor: pointer;
    transition: ease 0.3s;
    background-color: rgba(255, 0, 0, 0.15);
}

main * {
    font-family: monospace;
}

main {
    display: flex;
    justify-content: center;
}

.content {
    grid-column-start: 2;
    margin-top: 1.5rem;
}

.content-title {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

#json {
    padding: 1rem;
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 1rem;
    box-shadow: 7px 7px rgba(0, 0, 0, 15%);
    border: 2px solid rgba(0, 0, 0, 15%);
    background-color: rgba(0, 0, 0, 10%);
}

#json:hover {
    transition: ease 0.3s;
    background-color: rgba(255, 0, 0, 0.15);
}