header {
    margin-left: 10%;
    width: 70rem;
    display: flex;
}

#title {
    font-size: 7rem;
    font-weight: bolder;
}

nav {
    width: 50rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

nav * {
    font-family: monospace;
    height: 3rem;
    width: 9rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 15%);
    background-color: rgba(0, 0, 0, 15%);
    /* vertical centering of text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.1rem;
}

nav *[class*="active"] {
    background-color: rgba(255, 0, 0, 0.15);
}

nav *:hover {
    cursor: pointer;
    transition: ease 0.3s;
    background-color: rgba(255, 0, 0, 0.15);
}

main * {
    font-family: monospace;
}

main {
    display: flex;
    justify-content: center;
}


.content {
    margin-top: 1.5rem;
}

.content-title {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

#contact-info {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
}

#content-contact {
    box-shadow: 7px 7px rgba(0, 0, 0, 15%);
    padding: 1rem 3rem;
    margin-top: 1rem;
    border-radius: 1rem;
    border: 2px solid rgba(0, 0, 0, 15%);
    background-color: rgba(0, 0, 0, 15%);
}

p {
    margin-bottom: 0.2rem;
}

#controls {
    margin-top: 1rem;
    
}

#form-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

form {
    margin-top: 1rem;
    display: grid;
    grid-template-rows: 2rem 15rem 3rem;
    grid-gap: 1rem;
}

form * {
    padding: 1.5rem;
    background: rgba(0, 0, 0, 15%);
    border: 2px solid rgba(0, 0, 0, 50%);
    border-radius: 1rem;
    font-size: 1.5rem;
    color: black;
    box-shadow: 3px 3px rgba(0, 0, 0, 15%);
}

form *:hover {
    transition: ease 0.3s;
    border: 2px solid rgba(0, 0, 0, 100%);
    background-color: rgba(255, 0, 0, 0.15);
}

form *::placeholder {
    color: rgba(255, 255, 255, 30%);
    text-align: center;
    font-size: 1.5rem;
}

form textarea {
    margin-top: 1rem;
    resize: none;
    font-size: 1rem;
}

form *:focus {
    transition: ease 0.3s;
    background-color: rgba(255, 0, 0, 0.15);
}

form button {
    margin-left: auto;
    margin-right: auto;
    width: 8rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: black;
}

form button:hover {
    background-color: rgba(255, 0, 0, 0.15);
    color: white;
    transition: ease 0.3s;
}

#contact-line {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 50%;
    background: black;
    background: rgba(0, 0, 0, 50%);
    width: 100%;
    height: 2px;
}

#contact-info img {
    width: 2rem;
    height: 2rem;
    transform: translateY(0.5rem)
}

#contact-info a:hover {
    transition: ease 0.1s;
    color: whitesmoke;
}

main a {
    text-decoration: underline;
}