header {
    margin-left: 10%;
    width: 70rem;
    display: flex;
}

#title {
    font-size: 7rem;
    font-weight: bolder;
}

nav {
    width: 50rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

nav * {
    font-family: monospace;
    height: 3rem;
    width: 9rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 15%);
    background-color: rgba(0, 0, 0, 15%);
    /* vertical centering of text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.1rem;
}

nav *[class*="active"] {
    background-color: rgba(255, 0, 0, 0.15);
}

nav *:hover {
    cursor: pointer;
    transition: ease 0.3s;
    background-color: rgba(255, 0, 0, 0.15);
}

main * {
    font-family: monospace;
}

.content-title {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

#content-text {
    border-radius: 1.5rem;
    border: 2px solid rgba(0, 0, 0, 15%);
    background-color: rgba(0, 0, 0, 15%);
    font-weight: bold;
    width: 60%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    
    padding: 2rem 2rem;
    display: grid;
    grid-row-gap: 1rem;
    grid-column-gap: 5%;
    grid-template-columns: 47.5% 47.5%;
    grid-template-rows: auto auto;
    box-shadow: 7px 7px rgba(0, 0, 0, 15%);
}

p {
    text-align: justify;
    font-size: 1rem;
}

h2 {
    font-size: 2rem;
}

#cv-download {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
    margin-top: 1rem;
}

button {
    padding: 0rem;
    margin-top: 1rem;
    border: 1px solid rgba(0, 0, 0, 50%);
    border-radius: 1rem;
    background: rgba(0, 0, 0, 15%);
    height: 4rem;
    width: 12rem;
    font-size: 1.5rem;
}

#cv-download:hover {
    background-color: rgba(255, 0, 0, 0.15);
    transition: ease 0.3s;
}

#cv-download {
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
    font-size: x-large;
    border: 2px solid rgba(0, 0, 0, 15%);
    background-color: rgba(0, 0, 0, 15%);
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: underline;
}

#cv-download a {
    display: flex;
    justify-content: space-around;
}

#cv-download img {
    height: 1rem;
    transform: translateY(0.3rem);
}