h1 {
    display: inline;
    font-size: 15rem;
}

nav {
    width: 50rem;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20rem;
}

nav * {
    font-family: monospace;
    height: 4rem;
    width: 11rem;
    border: 2px solid rgba(0, 0, 0, 15%);
    background-color: rgba(0, 0, 0, 15%);
    border-radius: 1rem;
    font-size: 2.2rem;
    font-weight: bolder;
    text-align: center;
    /* vertical centering of text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

nav *:hover {
    cursor: pointer;
    transition: ease 0.3s;
    background-color: rgba(255, 0, 0, 0.20);
}

hr {
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    width: 60%;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 50%);
    clear: both;
}