header {
    margin-left: 10%;
    width: 70rem;
    display: flex;
}

#title {
    font-size: 7rem;
    font-weight: bolder;
}

nav {
    width: 50rem;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

nav * {
    font-family: monospace;
    height: 3rem;
    width: 9rem;
    border-radius: 1rem;
    font-size: 1.8rem;
    font-weight: bolder;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 15%);
    background-color: rgba(0, 0, 0, 10%);
    /* vertical centering of text */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 0.1rem;
}

nav *[class*="active"] {
    background-color: rgba(255, 0, 0, 0.15);
}

nav *:hover {
    cursor: pointer;
    transition: ease 0.3s;
    background-color: rgba(255, 0, 0, 0.15);
}

main * {
    font-family: monospace;
}

main {
    display: flex;
    justify-content: center;
}

.content-title {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

#projects {
    margin-top: 0rem;
    display: flex;
    justify-content: center;
}

.project {
    margin: 1rem;
    width: 16rem;
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 15%);
    background-color: rgba(0, 0, 0, 15%);
    box-shadow: 7px 7px rgba(0, 0, 0, 15%);
    font-size: 1rem;
    font-weight: bold;
}

.project:hover {
    transition: ease 0.3s;
    background-color: rgba(255, 0, 0, 0.15);
}

.project-img {
    border: 1px solid rgba(0, 0, 0, 50%);
    width: 12rem;
    height: 12rem;
    border-radius: 1rem;
}

.project-img:-moz-loading {
    border-radius: 0;
}

.project-txt {
    text-align: justify;
}

.project-title {
    margin-top: 1rem;
    text-align: center;
}

.project-txt span {
    margin-top: 1rem;
}